<p id="notice"><%= notice %></p>
<p>User Email : <%= @user.email %></p>
<p>User First Name : <%= @user.first_name %></p>
<p>User Last NAME  : <%= @user.last_name  %></p>
<p> Profile Picture : <%= image_tag @user.profile_image.url %></p>

